[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=terminal
Icon=/usr/share/terminal/terminal64.png
Name=Terminal
Name[am]=ተርሚናል
Name[ast]=Terminal
Name[be]=Тэрмінал
Name[br]=Termenell
Name[bs]=Terminal
Name[ca]=Terminal
Name[cy]=Terfynell
Name[da]=Terminal
Name[de]=Befehlsfenster
Name[el]=Τερματικό
Name[en_AU]=Terminal
Name[en_GB]=Terminal
Name[eo]=Terminalo
Name[es]=Terminal
Name[eu]=Terminala
Name[fa]=پایانه
Name[fi]=Pääte
Name[fo]=Terminal
Name[fr]=Terminal
Name[fr_CA]=Terminal
Name[gd]=Tèirmineal
Name[gl]=Terminal
Name[he]=מסוף
Name[hr]=Terminal
Name[hu]=Terminál
Name[id]=Terminal
Name[it]=Terminale
Name[ja]=端末
Name[km]=ស្ថានីយ
Name[lv]=Terminālis
Name[ml]=ടെര്‍മിനല്‍
Name[my]=တာမင်နယ်
Name[nb]=Terminal
Name[nl]=Terminal
Name[pa]=ਟਰਮੀਨਲ
Name[pl]=Terminal
Name[pt]=Terminal
Name[pt_BR]=Terminal
Name[ro]=Terminal
Name[ru]=Терминал
Name[sk]=Terminál
Name[sl]=Terminal
Name[sr]=Терминал
Name[sv]=Terminal
Name[tr]=Uçbirim
Name[ug]=تېرمىنال
Name[uk]=Термінал
Name[zh_CN]=终端
Name[zh_TW]=終端機
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Splash-Color=#111111
OnlyShowIn=Unity8
