[Desktop Entry]
X-AppInstall-Package=altos
X-AppInstall-Popcon=3
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=AltOS UI
GenericName=Altus Metrum Ground Station
Comment=View and log downlink data from Altus Metrum products
Icon=_usr_share_icons_hicolor_scalable_apps_altusmetrum-altosui
Exec=/usr/bin/altosui %F
Terminal=false
MimeType=application/vnd.altusmetrum.telemetry;application/vnd.altusmetrum.eeprom
Categories=Education;Electronics;Science;

X-Ubuntu-Gettext-Domain=app-install-data
