[Desktop Entry]
X-AppInstall-Package=bluedevil
X-AppInstall-Popcon=5580
X-AppInstall-Section=universe

Type=Application
Version=1.0
Name=BlueDevil Send File
GenericName=BlueDevil Send File
MimeType=application/vnd.kde.bluedevil-sendfile;
Exec=bluedevil-sendfile -k%U
Comment=BlueDevil Send File
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;X-Bluetooth;Network;
NoDisplay=true

X-Ubuntu-Gettext-Domain=app-install-data
