[Desktop Entry]
X-AppInstall-Package=bumprace
X-AppInstall-Popcon=2
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=BumpRace
GenericName=race through a maze
Comment=1 or 2 players race through a multi-level maze
Exec=bumprace
TryExec=bumprace
Icon=bumprace-icon
StartupNotify=false
Terminal=false
Categories=Game;ActionGame;
Keywords=space;

X-Ubuntu-Gettext-Domain=app-install-data
