[Desktop Entry]
X-AppInstall-Package=cheese
X-AppInstall-Popcon=1603
X-AppInstall-Section=main

Name=Cheese
X-GNOME-FullName=Cheese Webcam Booth
Comment=Take photos and videos with your webcam, with fun graphical effects
Keywords=photo;video;webcam;
Exec=cheese
Terminal=false
Type=Application
StartupNotify=true
Icon=cheese
Categories=GNOME;AudioVideo;Video;Recorder;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=cheese
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.16.1
DBusActivatable=true

NoDisplay=true

X-Ubuntu-Gettext-Domain=app-install-data
