[Desktop Entry]
X-AppInstall-Package=chocolate-common
X-AppInstall-Section=multiverse

Name=Chocolate Setup
Exec=chocolate-setup
Icon=chocolate-setup
Type=Application
Comment=Setup tool for Chocolate
Categories=Settings

X-Ubuntu-Gettext-Domain=app-install-data
