[Desktop Entry]
X-AppInstall-Package=cinnamon
X-AppInstall-Popcon=301
X-AppInstall-Section=universe

Icon=cs-screensaver
Exec=cinnamon-settings screensaver
Type=Application
OnlyShowIn=X-Cinnamon;
Categories=Settings;
Name=Screensaver
Comment=Manage screen lock settings

X-Ubuntu-Gettext-Domain=app-install-data
