[Desktop Entry]
X-AppInstall-Package=dillo
X-AppInstall-Popcon=36
X-AppInstall-Section=universe

GenericName=Web Browser
Name=Dillo
Comment=Lightweight browser
MimeType=text/html;text/xml;application/xhtml+xml;
Exec=dillo %F
Terminal=false
Type=Application
Categories=Network;WebBrowser;
Icon=dillo

X-Ubuntu-Gettext-Domain=app-install-data
