[Desktop Entry]
X-AppInstall-Package=flrig
X-AppInstall-Popcon=2
X-AppInstall-Section=universe

Name=Flrig
GenericName=Amateur Radio Rig Control
Comment=Amateur Radio Communications
Exec=flrig
Icon=flrig
Terminal=false
Type=Application
Categories=Network;HamRadio;

X-Ubuntu-Gettext-Domain=app-install-data
