[Desktop Entry]
X-AppInstall-Package=gazebo5
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Name=Gazebo
Comment=3-D Robot simulator
Exec=/usr/bin/gazebo
Icon=gazebo
Type=Application
Categories=Development;Education;Science;
StartupNotify=true
OnlyShowIn=GNOME;Unity;
Keywords=Run;

X-Ubuntu-Gettext-Domain=app-install-data
