[Desktop Entry]
X-AppInstall-Package=giada
X-AppInstall-Popcon=2
X-AppInstall-Section=universe

Name=Giada
GenericName=Drum machine and loop sequencer
Icon=giada
Type=Application
Exec=giada
Terminal=false
Categories=AudioVideo;Audio;X-Digital_Processing;X-Jack;X-MIDI;Midi;
Keywords=midi;jackd;alsa;pulse;audio;sound;loop;

X-Ubuntu-Gettext-Domain=app-install-data
