[Desktop Entry]
X-AppInstall-Package=gnome-taquin
X-AppInstall-Section=universe

Icon=gnome-taquin
Name=Taquin
Comment=Slide tiles to their correct places
Keywords=puzzle;
Exec=gnome-taquin
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
StartupNotify=true
Actions=Fifteen;Sixteen;

[Desktop Action Fifteen]
Name=15-Puzzle
Exec=gnome-taquin --fifteen

[Desktop Action Sixteen]
Name=16-Puzzle
Exec=gnome-taquin --sixteen

X-Ubuntu-Gettext-Domain=app-install-data
