[Desktop Entry]
X-AppInstall-Package=gnome-session-common
X-AppInstall-Popcon=989
X-AppInstall-Section=main

Name=Startup Applications
Comment=Choose what applications to start when you log in
Exec=gnome-session-properties
Icon=session-properties
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Settings;X-GNOME-PersonalSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-session
X-GNOME-Bugzilla-Component=gnome-session-properties
X-GNOME-Bugzilla-Version=3.16.0


X-Ubuntu-Gettext-Domain=app-install-data
