[Desktop Entry]
X-AppInstall-Package=gpaste
X-AppInstall-Popcon=12
X-AppInstall-Section=universe

Type=Application
Name=GPaste daemon settings
Comment=Manage the GPaste daemon settings
Keywords=Clipboard;Manager;Settings;Preferences;Configuration;
Icon=gtk-paste
Exec=/usr/lib/gpaste/gpaste/gpaste-settings
DBusActivatable=true
Terminal=false
Categories=GTK;GNOME;Settings;X-GNOME-PersonalSettings;
StartupNotify=true


X-Ubuntu-Gettext-Domain=app-install-data
