[Desktop Entry]
X-AppInstall-Package=gprompter
X-AppInstall-Popcon=5
X-AppInstall-Section=main

Name=gprompter
GenericName=Predictive text editor
Comment=Predictive text editor powered by presage
Keywords=presage;text prediction;predictive text
Exec=gprompter
Icon=gprompter
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Accessibility;TextEditor;ArtificialIntelligence

X-Ubuntu-Gettext-Domain=app-install-data
