[Desktop Entry]
X-AppInstall-Package=guidedog
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Type=Application
Name=Guidedog as root
GenericName=Run guidedog as user root
Comment=Advanced routing configuration utiliy
Keywords=iptables;forward
Exec=gksudo guidedog 
Icon=guidedog
Terminal=0

X-Ubuntu-Gettext-Domain=app-install-data
