[Desktop Entry]
X-AppInstall-Package=gworkspace.app
X-AppInstall-Popcon=9
X-AppInstall-Section=universe

Type=Application
Categories=System;FileTools;FileManager;
Name=GWorkspace
Comment=GNUstep Workspace Manager
Keywords=folder;manager;explore;disk;filesystem;
Icon=_usr_lib_GNUstep_Applications_GWorkspace.app_Resources_FileManager
Exec=GWorkspace

X-Ubuntu-Gettext-Domain=app-install-data
