[Desktop Entry]
X-AppInstall-Package=ibus-sharada-braille
X-AppInstall-Section=universe

Categories=GNOME;Utility;
Version=1.0
Type=Application
Terminal=false
Comment=Change preferences of ibus-sharada-braille
Exec=ibus-sharada-braille-preferences
Name=ibus-sharada-braille-preferences
Icon=_usr_share_ibus-sharada-braille_icons_ibus-sharada-braille


X-Ubuntu-Gettext-Domain=app-install-data
