[Desktop Entry]
X-AppInstall-Package=ibus
X-AppInstall-Popcon=21265
X-AppInstall-Section=main

Name=IBus Preferences
Comment=Set IBus Preferences
Exec=ibus-setup
Icon=ibus-setup
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
Keywords=keyboard;input;
NotShowIn=GNOME;Unity;
X-Desktop-File-Install-Version=0.22


X-Ubuntu-Gettext-Domain=app-install-data
