[Desktop Entry]
X-AppInstall-Package=indicator-keylock
X-AppInstall-Popcon=161
X-AppInstall-Section=universe

Name=Indicator-LockKeys
Comment=Handles the locked states of CapsLock, NumLock, and ScrollLock
Icon=caps-lock-on
Exec=indicator-keylock
Terminal=false
Type=Application
StartupNotify=false
Categories=GNOME;GTK;Settings;HardwareSettings;

X-Ubuntu-Gettext-Domain=app-install-data
