[Desktop Entry]
X-AppInstall-Package=kalgebra
X-AppInstall-Popcon=128
X-AppInstall-Section=universe

Name=KAlgebra
GenericName=Graph Calculator
Comment=Math Expression Solver and Plotter
Exec=kalgebra %u
MimeType=application/x-kalgebra;
Icon=kalgebra
Type=Application
X-DocPath=kalgebra/index.html
Terminal=false
Categories=Qt;KDE;Education;Math;Science;
X-DBUS-ServiceName=org.kde.kalgebra

X-Ubuntu-Gettext-Domain=app-install-data
