[Desktop Entry]
X-AppInstall-Package=kinfocenter
X-AppInstall-Popcon=910
X-AppInstall-Section=universe

Exec=kinfocenter
Icon=hwinfo
Type=Application
X-DocPath=kinfocenter/index.html
X-KDE-StartupNotify=true
OnlyShowIn=KDE;

Name=KInfoCenter
GenericName=Info Center
X-DBUS-ServiceName=org.kde.kinfocenter
X-DBUS-StartupType=Unique
Categories=Qt;KDE;System;

X-Ubuntu-Gettext-Domain=app-install-data
