[Desktop Entry]
X-AppInstall-Package=ksnakeduel
X-AppInstall-Popcon=38
X-AppInstall-Section=universe

Type=Application
Exec=ksnakeduel -caption %c %i
Icon=ksnakeduel
X-DocPath=ksnakeduel/index.html
Terminal=false
Name=KSnakeDuel
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;ArcadeGame;

X-Ubuntu-Gettext-Domain=app-install-data
