[Desktop Entry]
X-AppInstall-Package=linssid
X-AppInstall-Popcon=25
X-AppInstall-Section=universe

Version=2.7
Name=LinSSID
GenericName=
Comment=Find local wireless attach points
Exec=gksudo linssid
Icon=_usr_share_pixmaps_linssid48
Terminal=false
Type=Application
Categories=Application;Network
Keywords=Network;Wireless;WiFi;Monitor;Channel;Power

X-Ubuntu-Gettext-Domain=app-install-data
