[Desktop Entry]
X-AppInstall-Package=moonshot-ui
X-AppInstall-Popcon=0
X-AppInstall-Section=universe

Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=moonshot
Name=Moonshot Identity Manager
Icon=config-user
Categories=System;Settings
URL=http://www.project-moonshot.org

X-Ubuntu-Gettext-Domain=app-install-data
