[Desktop Entry]
X-AppInstall-Package=mupen64plus-ui-console
X-AppInstall-Popcon=14
X-AppInstall-Section=universe

Version=1.0
Type=Application
Name=Mupen64Plus
GenericName=N64 Emulator
Comment=Nintendo 64 emulator and plugins for Linux, Mac OSX, FreeBSD, and Windows
Exec=mupen64plus %f
Icon=mupen64plus
MimeType=application/x-n64-rom;
Categories=Game;Emulator;
Keywords=Emulator;Nintendo64;Mupen64plus;
NoDisplay=true

X-Ubuntu-Gettext-Domain=app-install-data
