[Desktop Entry]
X-AppInstall-Package=openmw-cs
X-AppInstall-Popcon=0
X-AppInstall-Section=multiverse

Type=Application
Name=OpenMW Content Editor
GenericName=Content Editor
Comment=A replacement for the Morrowind Construction Set.
Keywords=Morrowind;Construction Set;Creation Kit Editor;Set;Kit;
TryExec=openmw-cs
Exec=openmw-cs
Icon=openmw-cs
Categories=Game;RolePlaying;

X-Ubuntu-Gettext-Domain=app-install-data
