[Desktop Entry]
X-AppInstall-Package=parley
X-AppInstall-Popcon=112
X-AppInstall-Section=universe

Name=Parley
MimeType=application/x-kvtml;
Exec=parley %u
Icon=parley
X-DocPath=parley/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Education;Languages;
X-DBUS-ServiceName=org.kde.parley
GenericName=Vocabulary Trainer


X-Ubuntu-Gettext-Domain=app-install-data
