[Desktop Entry]
X-AppInstall-Package=plasma-nm
X-AppInstall-Popcon=4865
X-AppInstall-Section=universe

Name=kde5-nm-connection-editor
GenericName=Connection editor
Comment=Edit your network connections
Exec=kde5-nm-connection-editor
Icon=preferences-system-network
Type=Application
Terminal=false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.kde5-nm-connection-editor
Categories=Qt;KDE;Network;
NoDisplay=true

X-Ubuntu-Gettext-Domain=app-install-data
