[Desktop Entry]
X-AppInstall-Package=print-manager
X-AppInstall-Popcon=4748
X-AppInstall-Section=universe

Name=Print Queue
Comment=View the print jobs
Exec=kde-print-queue
Icon=printer
Type=Application
Terminal=false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.PrintQueue
NoDisplay=true
Categories=Qt;KDE;Printing;Utility;

X-Ubuntu-Gettext-Domain=app-install-data
