[Desktop Entry]
X-AppInstall-Package=python-ase
X-AppInstall-Popcon=4
X-AppInstall-Section=universe

Version=1.0
Name=ase-gui
GenericName=ase-gui
Comment=Atomic Simulation Environment GUI
Categories=GTK;Science;Chemistry;Physics;Education;
Keywords=Atom;Molecule;Cluster;Surface;Nanotube;Bulk;Crystal;
Exec=ase-gui
Icon=ase
Terminal=false
Type=Application


X-Ubuntu-Gettext-Domain=app-install-data
