[Desktop Entry]
X-AppInstall-Package=quake3
X-AppInstall-Popcon=11
X-AppInstall-Section=multiverse

Version=1.0
Name=Quake III: Team Arena
TryExec=/usr/share/games/quake3-team-arena-data/quake3-team-arena
Exec=/usr/games/quake3 --quiet +set fs_game missionpack
Icon=quake3-teamarena
Comment=Expansion pack for Quake III Arena
Terminal=false
Type=Application
Categories=Game;ActionGame;
Keywords=first person shooter;fps;3d;deathmatch;ctf;capture the flag;

X-Ubuntu-Gettext-Domain=app-install-data
