[Desktop Entry]
X-AppInstall-Package=quake2
X-AppInstall-Popcon=4
X-AppInstall-Section=multiverse

Type=Application
Version=1.0
Name=Quake II MP2: Ground Zero
Comment=Mission Pack 2 for the classic first person shooter
Icon=quake2-groundzero
TryExec=/usr/share/games/quake2/quake2-groundzero
Exec=/usr/games/quake2 +set game rogue
Categories=Game;ActionGame;
Keywords=first person shooter;fps;3d;deathmatch;rogue entertainment;mission pack 2;

X-Ubuntu-Gettext-Domain=app-install-data
