[Desktop Entry]
X-AppInstall-Package=quake2
X-AppInstall-Popcon=4
X-AppInstall-Section=multiverse

Type=Application
Version=1.0
Name=Quake II MP1: The Reckoning
Comment=Mission Pack 1 for the classic first person shooter
Icon=quake2-reckoning
TryExec=/usr/share/games/quake2/quake2-reckoning
Exec=/usr/games/quake2 +set game xatrix
Categories=Game;ActionGame;
Keywords=first person shooter;fps;3d;deathmatch;xatrix entertainment;mission pack 1;

X-Ubuntu-Gettext-Domain=app-install-data
