[Desktop Entry]
X-AppInstall-Package=sigil
X-AppInstall-Popcon=28
X-AppInstall-Section=universe

Type=Application
Name=Sigil
Comment=ePUB file editor
Exec=sigil %F
Icon=sigil
Categories=Office;FileTools;Qt;Viewer;TextTools;TextEditor;Utility;
Keywords=epub;Book;
MimeType=application/epub+zip;

X-Ubuntu-Gettext-Domain=app-install-data
