[Desktop Entry]
X-AppInstall-Package=torbrowser-launcher
X-AppInstall-Popcon=8
X-AppInstall-Section=universe

Name=Tor Browser
Comment=Launch the Tor Browser Bundle
Exec=/usr/bin/torbrowser-launcher %u
Terminal=false
Type=Application
Icon=_usr_share_pixmaps_torbrowser80
Categories=Network;WebBrowser;

X-Ubuntu-Gettext-Domain=app-install-data
