[Desktop Entry]
Categories=Application;Other
Categories=Application;Other
Categories=Application;Other
X-AppInstall-Package=workrave
X-AppInstall-Popcon=165
X-AppInstall-Section=universe

Version=1.0
Name=Workrave
Type=Application
Comment=Assists in the prevention and recovery of Repetitive Strain Injury (RSI)
Keywords=typing;break;timer;wrists;health;rsi;
Categories=Utility;GTK;Accessibility;
Exec=workrave
Icon=workrave

X-Ubuntu-Gettext-Domain=app-install-data
