[D-BUS Service]
Name=com.canonical.Unity.Scope.Graphics.Colourlovers
Exec=/usr/bin/python3 /usr/share/unity-scopes/scope-runner-dbus.py -s graphics/colourlovers.scope
