[D-BUS Service]
Name=com.canonical.Unity.Scope.Developer.Devhelp
Exec=/usr/bin/python3 /usr/share/unity-scopes/scope-runner-dbus.py -s code/devhelp.scope
