[D-BUS Service]
Name=com.canonical.Unity.Scope.Development.Manpages
Exec=/usr/bin/python3 /usr/share/unity-scopes/scope-runner-dbus.py -s code/manpages.scope
