[D-BUS Service]
Name=com.canonical.Unity.Scope.Graphics.Openclipart
Exec=/usr/bin/python3 /usr/share/unity-scopes/scope-runner-dbus.py -s graphics/openclipart.scope
