[Unit]
Description=Indicator Date & Time Backend
PartOf=graphical-session.target
After=indicators-pre.target

[Service]
ExecStart=/usr/lib/x86_64-linux-gnu/indicator-datetime/indicator-datetime-service
Restart=on-failure
