[Unit]
Description=Indicator Network Secret Agent
PartOf=indicator-network.service

[Service]
ExecStart=/usr/lib/x86_64-linux-gnu/indicator-network/indicator-network-secret-agent
Restart=on-failure
